version: '3'
services:

    influxdb:
        image: influxdb
        volumes:
            # Mount for influxdb data directory and configuration
            - influxdbv2:/.influxdbv2
        ports:
            - 8086:8086

    # Use the influx cli to set up an influxdb instance. 
    influxdb_cli:
        links:
            - influxdb
        image: influxdb
        # Use these same configurations parameters in your telegraf configuration, mytelegraf.conf.
        entrypoint: influx setup --bucket $INFLUX_BUCKET -t $INFLUX_TOKEN -o $INFLUX_ORG --username=$INFLUX_USER --password=$INFLUX_PASS --host=$INFLUX_HOST -f
            # Wait for the influxd service in the influxdb container has fully bootstrapped before trying to setup an influxdb instance with the influxdb_cli service. 
        restart: on-failure:10
        depends_on:
            - influxdb
    
    telegraf:
        build: .
        image: telegraf
        links:
            - influxdb
        environment: 
            - INFLUX_HOST=$INFLUX_HOST
            - INFLUX_TOKEN=$INFLUX_TOKEN
            - INFLUX_ORG=$INFLUX_ORG
            - INFLUX_BUCKET=$INFLUX_BUCKET
            - SNMP_AGENT=$SNMP_AGENT
            - SNMP_VERSION=$SNMP_VERSION
            - SNMP_COMMUNITY=$SNMP_COMMUNITY
            - MIBS=$MIBS
        depends_on:
            - influxdb_cli

volumes:
    influxdbv2: